@model USAssure.LogSpy.Web.Models.LogTableViewModel

@if (!Model.Logs.Any())
{
    <div class="text-center">
    @{ Html.RenderPartial("NoResults"); }
    </div>
}
else
{
    <div class="row" style="display: flex; align-items: center; padding-bottom: 20px;">
        <strong><span class="logspy-app-label logspy-text-uppercase">Apps</span></strong>
        <ul id="app-bar" class="nav nav-pills" role="tablist" style="display: inline;">
            @for (int x = 0; x < Model.Apps.Count(); x++)
            {
                if (Model.Apps.ElementAt(x).Selected)
                {
                    <li role="presentation" class="active"><a href="#" class="app-filter" data-url="@Url.Action("FindLogs")" data-app-name="@Model.Apps.ElementAt(x).Name">@Model.Apps.ElementAt(x).Name <span class="badge">@Model.Apps.ElementAt(x).LogCount</span></a></li>
                }
                else
                {
                    <li role="presentation"><a href="#" class="app-filter" data-url="@Url.Action("FindLogs")" data-app-name="@Model.Apps.ElementAt(x).Name">@Model.Apps.ElementAt(x).Name <span class="badge">@Model.Apps.ElementAt(x).LogCount</span></a></li>
                }
            }
        </ul>
    </div>

    <div class="row">
        <div id="log-table">
            <table class="table table-condensed table-striped table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>App</th>
                        <th>Box</th>
                        <th>Level</th>
                        <th>Type</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var log in Model.Logs)
                {
                        <tr class="log-item-row" data-id="@log.Id" data-url="@Url.Action("GetLog")">
                            <td>@log.RecordedDate.ToString("yyyy-MM-dd hh:mm:ss.fffff tt")</td>
                            <td>@log.AppName</td>
                            <td>@log.MachineName</td>
                            <td><span class="label @log.LogLevelStyle">@log.Level</span></td>
                            <td>@log.Type</td>
                            <td>@log.Message</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
